@media (max-width: 375px) { 
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header { 
        display: flex;
        flex-direction: column;
        align-items: center; 
        background-image: none;
        background-image: url(img-mobile-header/mobileStar1.svg),
                          url(img-mobile-header/mobileStar2.svg),
                          url(img-mobile-header/mobileStar3.svg);
        background-position: 37px 64px, calc(100% - 34px) calc(100% - 28px), calc(100% + 98px) calc(100% - 648px) ;
        

        &__top {    
            font-size: 40px;
            line-height: 49px;
            text-align: center;
        }

        &__text {
            padding-bottom: 0;   
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }

        &__button { 
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 141.69%;
            margin-top: 38px;
            width: 285px;
            height: 55px;
            margin-top: 36px;
        }
    }

    .box-game { 
        display: none;
    }



.minicard:nth-child(2n) {   
    display: flex;
    flex-direction: column;
    
}

.mini-game {    
    background-image: none;
    display: flex;
    gap: 24px;
    padding-bottom: 54px;

    &__title {  
        padding-top: 48px;
        padding-bottom: 24px;
        font-size: 40px;
        line-height: 49px;
    }
}

.minicard { 
    width: 343px;
    height: auto;
    display: flex;
    flex-direction: column;


    &__img-mobile {  
          
        width: 343px;
        
    }

    &__info {   
        padding-top: 29px;
        padding-left: 29px;
        padding-right: 29px;
        padding-bottom: 32px;
    }

    &__title {  
        font-size: 32px;
        line-height: 39px;
    }

    &__text { 
        padding-top: 16px; 
        padding-bottom: 32px; 
        font-size: 16px;
        line-height: 20px;
    }

    &__button { 
        font-size: 16px;
        font-weight: 600;
        line-height: 141.69%;
        width: 285px;
        height: 55px;
    }
}

.footer {   
    height: 100px;

    &__heading {    
        font-size: 16px;
        line-height: 20px;
    }
}



}