* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background: #E1FF8F;
  background-image: url(img-header/star1.png), url(img-header/star2.png), url(img-header/star3line.svg);
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 157% -336px;
  background-repeat: no-repeat;
}
.header__top {
  color: rgb(32, 32, 39);
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0px;
  padding-top: 196px;
  padding-bottom: 24px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  padding-bottom: 48px;
}
.header__button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: #fff;
  width: 247px;
  height: 66px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  text-decoration: none;
}
.header__button {
  transition: all 0.5s;
}
.header__button:hover {
  background: #fff;
  color: rgb(32, 32, 39);
}

.banner {
  display: flex;
  background-color: #BCEC30;
  height: 90px;
  width: 3220px;
}

.box-game {
  background-image: url(img-box-game/Star\ 1.svg);
  background-color: #202027;
  background-repeat: no-repeat;
  background-position: 100% 77px;
}
.box-game__title {
  padding-top: 94px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0px;
}
.box-game__text {
  padding-top: 24px;
  padding-bottom: 72px;
  width: 788px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.card__game {
  grid-column: span 4;
  width: 378px;
  height: 473px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  transition: transform 0.7s;
}
.card__game:hover {
  transform: scale(1.1);
}
.card__game-medium {
  margin-top: -39px;
  grid-column: span 4;
  width: 378px;
  height: 551px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  transition: transform 0.7s;
}
.card__game-medium:hover {
  transform: scale(1.1);
}
.card__game-big {
  grid-column: span 4;
  width: 378px;
  height: 512px;
  border-radius: 30px;
  box-shadow: 0px 12.61px 42.25px -7.57px rgba(0, 0, 0, 0.13);
  background: rgb(255, 255, 255);
  transition: transform 0.7s;
}
.card__game-big:hover {
  transform: scale(1.1);
}
.card__game-img {
  width: 378px;
  height: 314px;
  border-radius: 30px;
}
.card__game-info {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 36px;
}

.info__text {
  width: 108px;
  height: 36px;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0px;
  padding-top: 16px;
}

.mini-game {
  display: flex;
  gap: 32px;
  flex-direction: column;
  background-color: #202027;
  padding-bottom: 144px;
  background-image: url(img-minicard/star_top.svg), url(img-minicard/star_bottom.svg);
  background-position: right 45px top 143px, right 52px bottom 45px;
  background-repeat: no-repeat;
}
.mini-game__title {
  padding-top: 96px;
  padding-bottom: 72px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  line-height: 78px;
}

.minicard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
  height: 500px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
}
.minicard__img {
  width: 600px;
  height: 500px;
  border-radius: 30px;
}
.minicard__info {
  padding: 48px;
}
.minicard__title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  line-height: 59px;
}
.minicard__text {
  padding-top: 24px;
  padding-bottom: 36px;
  color: rgb(32, 32, 39);
  font-size: 24px;
  line-height: 32px;
}
.minicard__button {
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  text-align: center;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  cursor: pointer;
}
.minicard__button:hover {
  background: #fff;
  color: rgb(32, 32, 39);
}
.minicard__button {
  transition: all 0.5s;
}

.minicard:nth-child(2n) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.link-games {
  text-decoration: none;
  cursor: pointer;
  color: rgb(32, 32, 39);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__heading {
  color: rgb(0, 0, 0);
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
    background-image: url(img-mobile-header/mobileStar1.svg), url(img-mobile-header/mobileStar2.svg), url(img-mobile-header/mobileStar3.svg);
    background-position: 37px 64px, calc(100% - 34px) calc(100% - 28px), calc(100% + 98px) calc(100% - 648px);
  }
  .header__top {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }
  .header__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .header__button {
    margin-top: 38px;
    width: 285px;
    height: 55px;
  }
  .box-game {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */